@import url("https://fonts.cdnfonts.com/css/open-sans-condensed-2?styles=80716,80717,80715");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  color: white;
  align-items: center;
}

.bloc-presentation {
  background-color: #131313;
}
.bloc-presentation .cards {
  padding: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  font-size: 11px;
}
.bloc-presentation .profil {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 120px;
}
.bloc-presentation .profil h1 {
  line-height: 15px;
}
.bloc-presentation .profil h1 span {
  text-decoration: underline solid #69ddff;
  border-bottom: 2px solid #e5954c;
}
.bloc-presentation .profil p {
  font-size: 15px;
  line-height: 10px;
}
.bloc-presentation .profil p span {
  color: #e5954c;
  font-weight: 600;
}
.bloc-presentation .competences {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.bloc-presentation .competences .competence-flex {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  gap: 25px;
}
.bloc-presentation .competences .competence-flex .skills {
  width: 75px;
  height: 75px;
  border: 1px solid white;
  box-shadow: 3px 3px 1px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.bloc-presentation .competences .competence-flex .skills img {
  width: 35px;
}
.bloc-presentation .contact {
  padding: 20px 0 20px 10px;
}
.bloc-presentation .contact .lien {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bloc-presentation .contact .lien a {
  flex: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.bloc-presentation .contact .lien a:hover {
  color: #e5954c;
}

.projet {
  background-image: url("/images/fond.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Open Sans Condensed", sans-serif;
}
.projet .components-projet {
  background-color: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(5px);
  padding: 10px;
}
.projet .components-projet a {
  cursor: pointer;
}
.projet .components-projet h1 {
  color: white;
  font-size: 20px;
}
.projet .components-projet .box-card {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.projet .components-projet .box-card .projet1 {
  background-image: url("/images/Arcade/fond-presentation.png");
  background-size: cover;
}
.projet .components-projet .box-card .projet2 {
  background-image: url("/images/Radio/fond_radio_2.png");
  background-size: cover;
  background-position: center;
}
.projet .components-projet .box-card .projet3 {
  background-image: url("/images/Sharing/coworking-1.jpg");
  background-size: cover;
  background-position: center;
}
.projet .components-projet .box-card .card {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 15px 0px 12px 0;
  outline: 1px solid black;
}
.projet .components-projet .box-card .card .images-projet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.projet .components-projet .box-card .card .images-projet img {
  width: 200px;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.63));
}
.projet .components-projet .box-card .card .description-projet {
  color: white;
  background-color: #131313;
  padding: 10px;
  border-radius: 0 0 10px 0;
  box-shadow: 0 3px 0 #e5954c inset;
}
.projet .components-projet .box-card .card .description-projet h2 {
  color: #e5954c;
}
.projet .components-projet .box-card .card .description-projet h2 span {
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
  color: white;
}
.projet .components-projet .box-card .card .description-projet .technologie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
}
.projet .components-projet .box-card .card .description-projet .technologie p {
  width: 50%;
}
.projet .components-projet .box-card .card .description-projet .no-wrap {
  flex-wrap: nowrap;
}

@media screen and (min-width: 1024px) {
  .bloc-presentation {
    height: 40vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 10px;
  }
  .bloc-presentation .profil {
    padding-top: 0;
  }
  .bloc-presentation .competences {
    width: 500px;
  }
  .bloc-presentation .competences .competence-flex .skills {
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 1px white;
  }
  .bloc-presentation .competences .competence-flex .skills h3 {
    font-size: 10px;
  }
  .bloc-presentation .competences .competence-flex .skills img {
    width: 25px;
  }
  .bloc-presentation .contact .lien {
    flex-direction: column;
    align-items: flex-start;
  }
  .projet {
    height: 60vh;
  }
  .projet .components-projet {
    height: 60vh;
  }
  .projet .components-projet h1 {
    text-align: center;
    font-size: 30px;
  }
  .projet .components-projet .box-card {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .projet .components-projet .box-card .card {
    flex: none;
    width: 300px;
  }
  .projet .components-projet .box-card .card .images-projet {
    height: 150px;
  }
  .projet .components-projet .box-card .card .images-projet img {
    width: 150px;
  }
  .projet .components-projet .box-card .card .description-projet {
    line-height: 30px;
  }
  .projet .components-projet .box-card .card .description-projet h2 {
    text-align: center;
    font-size: 18px;
  }
  .projet .components-projet .box-card .card .description-projet .technologie {
    flex-wrap: nowrap;
    text-align: center;
  }
}
@media screen and (min-width: 705px) {
  .bloc-presentation .competences .competence-flex {
    justify-content: left;
  }
}

/*# sourceMappingURL=styles.css.map */
