@media screen and (min-width: 1024px) {
  .bloc-presentation {
    height: 40vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 10px;

    .profil {
      width: 700px;
      padding-top: 0;
      padding-left: 8%;
      
      h1{
        font-size: 3rem;
        line-height: 40px;
      }
      p {
        font-size: 1.8rem;
        line-height: 25px;
      }
    }

    .competences {
      width: 700px;
      .competence-flex {
        .skills {
          width: 80px;
          height: 80px;
          box-shadow: 1px 1px 1px white;
          h3 {
            font-size: 1.3rem;
          }
          img {
            width: 25px;
          }
        }
      }
    }
    .contact {
      width: 700px;
      .lien{
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;
a{
  img{
    width: 30px;
  }
}

      }
    }
  }


.projet {
  height: 60vh;


  .components-projet {
    height: 60vh;

    h1{
      text-align: center;
      font-size: 3rem;

    }

    .box-card {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .card {
        flex: none;
        width: 300px;
        .images-projet {
          height: 150px;
          img {
            width: 150px;
          }
        }
        .description-projet {
          line-height: 30px;
          h2 {
            text-align: center;
            font-size: 1.8rem;
          }
          .technologie {
            flex-wrap: nowrap;
            text-align: center;
          }
        }
      }
    }
  }
}
}



@media screen and (min-width: 705px) {
  .bloc-presentation {
  .competences {
    .competence-flex {
      justify-content: left;

    }
  }
}
}