@media screen and (min-width: 1024px) {
  .bloc-presentation {
    display: flex;

.profil {
  width: 300px;
}
.competences {
  width: 500px;
  .competence-flex{
    .skills{
      width: 60px;
      height: 60px;
      justify-content: flex-start;
    }
  }
}
.contact{
  .lien{
    flex-direction: column;
  }
}

  }
}
